[Unit]
Description=Argon One fan control service
After=multi-user.target

[Service]
Type=simple
Restart=always
# Environment=CONFIG_FILE=/etc/default/argonone.toml
ExecStart=/usr/bin/python3 /usr/local/bin/argonone.py

[Install]
WantedBy=multi-user.target